.App {
  text-align: center;
  background-color: rgba(244, 242, 242, 0.817);
  /* height: 100%; */
}

body {
  background-color: rgba(244, 242, 242, 0.817);
}

/* .bar {
  background-color: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%) !important;
} */
.test {
  /* color: blue !important; */
  /* margin-top: 50% !important; */
}